<div class="container">
  <div class="row text-center justify-content-center">
    <p-toast></p-toast>
    <div class="card content-mb-12">
      <div class="card-header">
           <img src="assets/img/pc.png">
      </div>
      <div class="card-body">
        <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>
        <div *ngIf="activeStepOne">
          <br>
          <h5> <i class="pi pi-info"></i> Information personnelle</h5>
          <br>
          <form [formGroup]="firstFormGroup" (ngSubmit)="stepTwo()">
            <div class="p-grid">
              <div class="p-inputgroup p-col-5 p-ml-6 ">
                <span class="p-inputgroup-addon"><i class="pi pi-info"></i></span>
                <input type="text" pInputText placeholder="Votre nom" formControlName="nom" name="nom" [(ngModel)]="nom" required>
              </div>
              <div class="p-inputgroup p-col-5 p-ml-6">
                <span class="p-inputgroup-addon"><i class="pi pi-info"></i></span>
                <input type="text" pInputText placeholder="Votre prénom" formControlName="prenom" name="prenom" [(ngModel)]="prenom" required="true">
              </div>
              <div class="p-inputgroup p-col-5 p-ml-6">
                <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" onfocus="(this.type='date')" pInputText placeholder="Votre date de naissance" formControlName="dateNaissance" name="dateNaissance" [(ngModel)]="dateNaissance" required>
              </div>
              <div class="p-inputgroup p-col-5 p-ml-6 ">
                <span class="p-inputgroup-addon"><i class="pi pi-map"></i></span>
                <input type="text" pInputText placeholder="Votre adresse" formControlName="adresse" name="adresse" [(ngModel)]="adresse"required>
              </div>
              <div class="p-inputgroup p-col-5 p-ml-6">
                <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                <input type="text" pInputText placeholder="Votre contact" formControlName="contact" name="contact" [(ngModel)]="contact"required>
              </div>
              <div class="p-inputgroup p-col-5 p-ml-6">
                <span class="p-inputgroup-addon"><i class="fa fa-transgender" aria-hidden="true"></i></span>
                <select pInputText  formControlName="sexe" name="sexe" [(ngModel)]="sexe" required>
                  <option value="">-- Votre sexe ---</option>
                  <option value="Masculin">Masculin</option>
                  <option value="Féminin">Féminin</option>
                </select>
              </div>
              <div class="p-col-9">
              </div>
              <div class="p-col-7 p-offset-6">
                <button pButton type="button" class="p-button-raised p-button-warning mr-2"  [routerLink]="'/'">Annuler<i
                    class="pi pi-fw pi-times-circle ml-2 "></i></button>
                    <button pButton type="button" class="p-button-raised p-button-success text-black" type="submit">Suivant<i
                      class="pi pi-fw pi-chevron-right ml-2 "></i></button>
              </div>
              <br>
            </div>
          </form>
        </div>
        <div *ngIf="activeStepTwo">
          <br>
          <h5> <i class="pi pi-info"></i> Information de connexion</h5>
          <br>
          <form [formGroup]="secondFormGroup" (ngSubmit)="stepThree()">
            <div class="p-grid">

              <div class="p-inputgroup p-col-6 p-offset-3">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input type="email" pInputText placeholder="Email" formControlName="email" name="email" [(ngModel)]="email"  required >
              </div>
              <div class="p-inputgroup p-col-3"></div>
              <div class="p-inputgroup p-col-6 p-offset-3 pt-0 pb-0 ">
              <!--  <small class="p-error" *ngIf="secondFormGroup.controls.email.hasError('required')">Inserez l'email</small>    -->
                <small class="p-error" *ngIf="secondFormGroup.controls.email.errors && (secondFormGroup.controls.email.dirty || secondFormGroup.controls.email.touched)">Adresse email invalide</small>
              </div>


              <div class="p-inputgroup p-col-6 p-offset-3">
                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                <input type="password" pInputText placeholder="Mot de passe" formControlName="mdp" name="mdp" [(ngModel)]="mdp" required>
              </div>
              <div class="p-inputgroup p-col-3"></div>
              <div class="p-inputgroup p-col-6 p-offset-3 pt-0 pb-0 ">
                <small class="p-error"  *ngIf="secondFormGroup.controls.mdp.errors && (secondFormGroup.controls.mdp.dirty || secondFormGroup.controls.mdp.touched)">Mot de passe requis</small>
              </div>
              <div class="p-inputgroup p-col-6 p-offset-3">
                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                <input type="password" pInputText placeholder="Retapez le mot de passe" formControlName="confirmMdp" required>
              </div>
              <div class="p-inputgroup p-col-6 p-offset-3 pt-0 pb-0 ">
   <!-- <small class="p-error"  *ngIf="secondFormGroup.controls.confirmMdp.errors && (secondFormGroup.controls.confirmMdp.dirty || secondFormGroup.controls.confirmMdp.touched)">Retapez le mot de passe</small>   -->
                <small class="p-error" *ngIf="secondFormGroup.controls.confirmMdp.errors?.confirmedValidator">Les mots de passe ne correspond pas</small>
              </div>
              <div class="p-inputgroup  p-col-10">
                <button pButton type="button" class="p-button-raised p-button-help" (click)="stepOne()"><i
                    class="pi pi-fw pi-chevron-left mr-2"></i>Précedent</button>
              </div>

              <div class="p-inputgroup  p-col-2">
                <button pButton type="button" class="p-button-raised p-button-primary" type="submit">Suivant<i
                    class="pi pi-fw pi-chevron-right ml-2 " ></i></button>
              </div>
            </div>

          </form>

        </div>
        <div *ngIf="activeStepThree">
          <br>
          <h5> <i class="pi pi-info"></i> Information de paiement (à modifier)</h5>
          <br>
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12">
                <label for="class">Nom du titulaire</label>
                <input type="text" required pInputText>
            </div>
            <div class="p-field p-col-8">
                <label id="number" for="lastname">Numero</label>
                <p-inputMask inputId="number" mask="9999-9999-9999-9999" ></p-inputMask>
            </div>
            <div class="p-field p-col-2">
                <label id="date" for="date">Date</label>
                <p-inputMask inputId="date" mask="99/99"></p-inputMask>
            </div>
            <div class="p-field p-col-2">
                <label for="cvv">CVV</label>
                <p-inputMask id="cvv" mask="999"></p-inputMask>
            </div>
            <div class="p-field-checkbox p-col-12">
                <p-checkbox id="remember" [binary]="true"></p-checkbox>
                <label for="remember" class="p-checkbox-label">
                  Enregistrer les informations de carte de crédit pour l'avenir</label>
            </div>
          </div>
          <div class="p-grid">

            <div class="p-inputgroup  p-col-10">
              <button pButton type="button" class="p-button-raised p-button-help" (click)="stepTwo()"><i
                  class="pi pi-fw pi-chevron-left mr-2"></i>Précedent</button>
            </div>

            <div class="p-inputgroup  p-col-2">
              <button pButton type="button" class="p-button-raised p-button-primary " (click)="stepFour()">Suivant<i
                  class="pi pi-fw pi-chevron-right ml-2 "  ></i></button>
            </div>
          </div>
        </div>
        <div *ngIf="activeStepFour">
          <br>
          <h5>Confirmation</h5>
          <br>
          <!--           <table class="table table-bordered">
                <tr>
                  <td><label class="text-right"> <i class="pi pi-info mr-2"></i> Nom :</label></td>
                  <td>{{nom}}</td>
                </tr>
                <tr>
                  <td><label> <i class="pi pi-info mr-2"></i> Prenom :</label></td>
                  <td>{{prenom}}</td>
                </tr>
                <tr>
                  <td><label> <i class="pi pi-calendar mr-2"></i> Date de Naissance :</label></td>
                  <td>{{dateNaissance  | date:'short'}} </td>
                </tr>
                <tr>
                  <td><label> <i class="pi pi-map mr-2"></i> Adresse :</label></td>
                  <td>{{adresse}} </td>
                </tr>
                <tr>
                  <td><label> <i class="pi pi-phone mr-2"></i> Contact :</label></td>
                  <td>{{contact}} </td>
                </tr>
                <tr>
                  <td><label> <i class="pi pi-envelope mr-2"></i> Email :</label></td>
                  <td>{{email}} </td>
                </tr>
                <tr>
                  <td><label> <i class="fa fa-transgender mr-2"></i> Sexe :</label></td>
                  <td>{{sexe}} </td>
                </tr>


          </table>  -->

          <div class="p-fluid">
            <div class="p-grid">

              <label class="p-col-3 text-left text-info" ><i class="pi pi-info mr-2"></i>Nom :</label>
              <label class="p-col-2 "> {{nom}} nom </label>
              <label class="p-col-3 text-left text-info"> <i class="pi pi-info mr-2"></i>Prenom :</label>
              <label class="p-col-2"> {{prenom}}nom </label>
            </div>
            <hr>
            <div class="p-grid">
              <label class="p-col-3 text-left text-info"><i class="pi pi-id-card mr-2"></i>Date de naissance :</label>
              <label class="p-col-2"> {{dateNaissance  | date:'short'}}  nom</label>
              <label class="p-col-3 text-left text-info"><i class="pi pi-map mr-2"></i>Adresse :</label>
              <label class="p-col-2  "> {{adresse}}  nom</label>
            </div>
            <hr>
            <div class="p-grid">
              <label class="p-col-3 text-left text-info "><i class="pi pi-phone mr-2"></i>Contact :</label>
              <label class="p-col-2  "> {{contact}} nom </label>
              <label class="p-col-3 text-left text-info "> <i class="pi pi-envelope mr-2"></i>Email :</label>
              <label class="p-col-2">{{email}} nom</label>
            </div>
            <hr>
            <div class="p-grid">
              <label class="p-col-3 text-left text-info"><i class="pi pi-users mr-2"></i>Sexe :</label>
              <label class="p-col-2  ">{{sexe}} nom</label>
            </div>
            <div class="p-grid">

              <div class="p-inputgroup  p-col-10">
                <button pButton type="button" class="p-button-raised p-button-help" (click)="stepTwo()"><i
                    class="pi pi-fw pi-chevron-left mr-2"></i>Précedent</button>
              </div>

              <div class="p-inputgroup  p-col-2">
                <button pButton type="button" class="p-button-raised p-button-success " (click)="stepFour()">Valider<i
                    class="pi pi-fw pi-chevron-right ml-2 "  ></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
