<mat-toolbar color="primary">
  <!--   <mat-toolbar-row>
    <div class="p-grid row mt-2 text-foot">
      <div class="p-col-3">
          <a> Guide des Paris </a>
      </div>
      <div class="p-col-3">
      </div>
      <div class="p-col-3 p-offset-3">
          <span>Nos coordonnées</span>
          <table>
            <tr>
              <td><i class="pi pi-fw pi-envelope mr-2"></i>Email :</td>
              <td>efanamby@gmail.com</td>
            </tr>
            <tr>
              <td><i class="pi pi-fw pi-phone mr-2"></i>Numero :</td>
              <td>034 28 823 890</td>
            </tr>
            <tr>
              <td><i class="pi pi-fw pi-map mr-2"></i>Adresse :</td>
              <td>Lot 56 V B Bis Antsanamady</td>
            </tr>
          </table>
      </div>

  </div>
  <span style="font-size: 12px;">Copyright 2021 - E-fanamby</span>
</mat-toolbar-row>  -->

</mat-toolbar>
