<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-text mx-3"><img src="assets/img/pc.png"><span><small><b>ADMIN</b></small></span></div>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/admin/programme'">
      <img src="assets/img/operation.png" class="mr-2 mb-1">
      <span>Programme</span>
    </a>
  </li>
  <hr class="sidebar-divider my-0">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/admin/pari'">
      <img src="assets/img/pari_24.png" class="mr-2 mb-1">
      <span>Pari</span>
    </a>
  </li>
<!--  <hr class="sidebar-divider my-0">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/admin/operation'">
      <img src="assets/img/operation.png" class="mr-2 mb-1">
      <span>Operation</span>
    </a>
  </li>   -->

  <hr class="sidebar-divider my-0">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/admin/type-operation'">
      <img src="assets/img/operation.png" class="mr-2 mb-1">
      <span>Type Operation</span>
    </a>
  </li>
  <hr class="sidebar-divider my-0">
  <!--

  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/admin/modele-cote'" href="#">
      <img src="assets/img/cote.png" class="mr-2 mb-1">
      <span>Modele Cote</span>
    </a>
  </li>

   -->

  <hr class="sidebar-divider my-0">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/admin/cote'" href="#">
      <img src="assets/img/cote.png" class="mr-2 mb-1">
      <span>Cote</span>
    </a>
  </li>
  <hr class="sidebar-divider my-0">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/admin/type-cote'" href="#">
      <img src="assets/img/cote.png" class="mr-2 mb-1">
      <span>Type Cote</span>
    </a>
  </li>
  <hr class="sidebar-divider my-0">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="'/admin/parametre-cote'">
      <img src="assets/img/cote.png"  class="mr-2 mb-1">
      <span>Parametre Cote</span>
    </a>
  </li>
  <!-- Nav Item - Utilities Collapse Menu -->
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
