<div id="wrapper">
  <app-menu></app-menu>
    <!-- Sidebar -->

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div>

      <!-- Topbar -->
      <app-nav-menu></app-nav-menu>
      <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <!--   <h5 class="m-0 text-dark">Type Operation</h5>-->
              <div class="row">
                <h6 class="m-0 font-weight-bold col-sm-10">Listes des paris</h6>
                <!---               <a href="create" class="btn btn-success btn-sm col-sm-1">
                  Ajouter <i class="fas fa-plus"></i>
                </a>-->

              </div>
            </div>
            <div class="card-body">
                <div class="table table-responsive" >
                  <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr class="bg-info text-white">
                        <td>Parieur</td>
                        <td>Date du pari</td>
                        <td>Programme</td>
                        <td>Mise</td>
                        <td>Gain</td>
                      </tr>
                    </thead>
                    <tbody *ngIf="listPari.length!=0">
                      <tr   *ngFor="let p of listPari">
                        <td>{{p.utilisateur.username}}</td>
                        <td>{{p.date | date:'dd/MM/yyyy'}}</td>
                        <td>{{p.cote.programme.dateHeurePgm | date:'dd/MM/yyyy'}}</td>
                        <td>{{p.mise}}</td>
                        <td>{{p.gain}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Administration site e-fanamby 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->


