.cg {
  background: #1f2d49;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  color: #fff;
}

.cd {
  background: #81c784;
  color: #fff;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}

.b-inf{
  background-color: #00bcd4;
}

.gain:focus{
  outline: none;
}

.gain{
  border: none;
  width: 50px;
}

.s-badg{
   width: 2px;
   height: 2px;
}
